html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364553;
    color: #efefef;
    padding: 0.5rem 2rem;
}

nav {
    background-color: #364553;
    color: #efefef;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 15px 20px 15px 20px;
}

nav ul li:hover {
    background-color: #efefef;
    color: #364553;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

img {
    width: 600px;
}

.container {
    width: 600px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.2s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color: #364553;
    color: #efefef;
    padding: 1.5rem 1rem;
    text-align: center;
}

footer a {
    text-decoration: none;
}

.link-footer:link {
    color: #efefef;
}

.link-footer:visited {
    color: #efefef;
}

.link-footer:hover {
    color: aqua;
}

.link-footer:active {
    color: #efefef;
}